:root {
  --toboo-bg_color: #f6f8f9;
  --toboo-el_color: white;
  --toboo-text_color: #494e56;
  --toboo-button_color: #14aaf5;
  --toboo-goals_color: #ab5de6;
  --toboo-recruiting_color: #2cc6ab;
  --toboo-mobile_color: #ff9b00;
  --toboo-website_color: #ec4a9d;
  --toboo-sales_color: #a3d116;
}

html {
  font-family:Arial, Helvetica, sans-serif ;
}

body {
  margin: 0;
  background-color: var(--toboo-bg_color);
}

main {
  height: 70vw;
}

header {
  background-color: var(--toboo-el_color);
  padding: 2px;
}

h2 {
  font-size: 20px;
  color: var(--toboo-text_color);
}

p {
  display: inline;
  font-size: 14px;
}


.logo {
  margin: 5px;
  height: 40px;
  vertical-align: middle
}

.title {
  font-size: 2rem;
  font-weight: bold;
  vertical-align: middle;
}

.container {
  margin: 20px auto 5px;
  width: 70%;
  height: 90%;
  background-color: var(--toboo-el_color);
}

.button-container {
  border-bottom: 1px solid lightgrey;
}

.buttons {
  padding: 10px;
  margin-left: 20px;
}

.active {
  text-align: center;
  color: var(--toboo-el_color);
  background-color: var(--toboo-button_color);
  height: 30px;
  width: 5rem;
  border-radius: 11px;
  border: var(--toboo-button_color)
}

.inactive {
  text-align: center;
  color: lightgray;
  background-color: var(--toboo-el_color);
  height: 30px;
  width: 6rem;
  border-radius: 11px;
  border: 1px solid rgb(199, 198, 198);
}

.tasksContainer {
  margin: 20px 50px;
}

.tasks {
  margin-bottom: 10px;
}

.check {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  padding: 2px;

}

.true {
  border: solid 1px greenyellow;
  color: greenyellow;
}

.false {
  border: solid 1px red;
  color: red;
}

.b_section {
  color: var(--toboo-el_color);
  font-size: 10px;
  width: fit-content;
  border-radius: 7px;
  border: 1px;
  padding: 5px;
  display: inline;
}

.editorial {
  background-color: var(--toboo-button_color);
}

.goals {
  background-color: var(--toboo-goals_color);
}

.recruiting {
  background-color: var(--toboo-recruiting_color);
}

.mobile {
  background-color: var(--toboo-mobile_color);
}

.website {
  background-color: var(--toboo-website_color);
}

.sales {
  background-color: var(--toboo-sales_color);
}