:root {
  --toboo-bg_color: #f6f8f9;
  --toboo-el_color: white;
  --toboo-text_color: #494e56;
  --toboo-button_color: #14aaf5;
  --toboo-goals_color: #ab5de6;
  --toboo-recruiting_color: #2cc6ab;
  --toboo-mobile_color: #ff9b00;
  --toboo-website_color: #ec4a9d;
  --toboo-sales_color: #a3d116;
}

body {
  margin: 0;
  background-color: var(--toboo-bg_color);
}

header {
  background-color: var(--toboo-el_color);
}


.banner {
  padding: 2px;
}

.logo {
  margin: 5px;
  height: 40px;
}

.title {
  font-size: 2rem;
}

.container {
  margin: 20px auto 5px;
  width: 70%;
  background-color: var(--toboo-el_color);
}

.button-container {
  border-bottom: 1px solid lightgrey;
}

.buttons {
  padding: 10px;
  margin-left: 20px;
}

.active {
  text-align: center;
  color: var(--toboo-el_color);
  background-color: var(--toboo-button_color);
  height: 30px;
  width: 5rem;
  border-radius: 11%;
  border: var(--toboo-button_color)
}

.inactive {
  text-align: center;
  color: lightgray;
  background-color: var(--toboo-el_color);
  height: 30px;
  width: 6rem;
  border-radius: 11%;
  border: 1px solid rgb(199, 198, 198);
}